<!-- Widget [Search Bar Widget]-->
<div class="widget search">
    <form action="{% url 'search' %}" class="search-form">
        <div class="input-group">
            <div class="form-outline">
                <input id="search-input" name=q type="text" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
            </div>
            <button id="search-button" type="submit" class="submit btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>


<style>
    .list-group-item-dark{
      background-color: #4f4f4f;
      color:cornsilk;
    }
  </style>

<!-- Widget [Latest Posts Widget]        -->
<div class="widget latest-posts mb-3">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Featured Post</li>
        {% for post in most_recent %}
        
    
       <a href="{{ post.get_absolute_url }}"><li  class="list-group-item list-group-item-light">
          {{ post.title }}
        </li></a> 
      </ul>    
      {% endfor %}
