<style>
  .list-group-item-white{
    background-color: #4f4f4f;
    color:cornsilk;
  }
  .badge.bg-primary{
    background-color: #4f4f4f!important;
  }
</style>
<div class="list-group">
    <li href="#" class="list-group-item list-group-item-white" aria-current="true">
      Category
    </li>
    {% for tag in tags %}
    <a href="/tag/{{tag.name|slugify}}" class="list-group-item list-group-item-action">{{tag.name}} 
      <span class="badge bg-primary">{{tag.count}}</span></a>
    {% endfor %}
  </div>
